<!-- NEWSLETTER -->
<div class="row">
    <!-- ECOMMERCE OFFERS -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="col-xs-10 col-xs-offset-1 col-sm-offset-1 col-lg-offset-0 col-md-offset-0 col-sm-10 col-lg-12 col-md-12" id="ecommerce-offers">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 offer">
                    <i class="glyphicon glyphicon-shopping-cart"></i>
                    <div class="align">
                        <p class="title">Ofertas especiales</p>
                        <p>Ahorra en grande</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 offer">
                    <i class="glyphicon glyphicon-piggy-bank"></i>
                    <div class="align">
                        <p class="title">Descuentos especiales</p>
                        <p>Ahorra en grande</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12" id="newsletter">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h2>
                Espera las mejores Ofertas!
            </h2>
            <p>Subscribete a nuestro boletin para tener nueva informacion via e-mail!</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <form>
                <input class="form-control" placeholder="Your Email" type="email">
                <button type="submit" class="btn btn-default">Subscribete</button>
            </form>
        </div>
    </div>
</div>