<!-- SIDEBAR -->
<div class="col-xs-10 col-xs-offset-1 col-lg-offset-0 col-md-offset-0 col-sm-offset-0 col-sm-4 col-md-3 col-lg-3" id="sidebar">

    <!-- CATEGORIES -->
    <div id="categories" class="hidden-xs">
        <div class="title">
            <i class="glyphicon glyphicon-menu-hamburger"></i>
            <p>Categorias</p>
        </div>
        <ul class="nav nav-stacked">
            <li><a href="#">Computadoras</a></li>
            <li><a href="#">Laptops</a></li>
            <li><a href="#">Smartphones</a></li>
            <li><a href="#">Accesorios</a></li>
        </ul>
    </div>

    <!-- ADS -->
    <a href="#" class="ad-link hidden-xs hidden-sm">
        <img src="images/ad2.png" class="ad" alt="Important Ad">
    </a>

    <!-- WEEKLY DEALS -->
    <div class="title">
        <i class="glyphicon glyphicon-fire"></i>
        <p>Ofertas</p>
        <div class="carousel-controls visible-xs">
            <a class="left" href="#week-deals" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right" href="#week-deals" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div id="week-deals" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="images/product2.png" alt="Product 1">
                <div class="product-info">
                    <a href="#" class="product-name">Macbook Pro Original Apple </a>
                    <a href="#" class="product-category">Laptop</a>
                    <p>$500<strike>$750</strike></p>
                    <div class="rating">
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star negative"></i>
                    </div>
                </div>
            </div>
            <div class="item">
                <img src="images/product2.png" alt="Product 1">
                <div class="product-info">
                    <a href="#" class="product-name">Macbook Pro Original Apple Ultimate Edition</a>
                    <a href="#" class="product-category">Laptop</a>
                    <p>$500<strike>$750</strike></p>
                    <div class="rating">
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star negative"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="deal-end">
        <p><i class="glyphicon glyphicon-time"></i> Fin de Ofertas</p>
        <p>Jul <span>10</span></p>
    </div>
    <div class="carousel-controls hidden-xs">
        <a class="left" href="#week-deals" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right" href="#week-deals" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- ON SALE PRODUCTS -->
    <div class="title">
        <i class="glyphicon glyphicon-tag"></i>
        <p>En descuento</p>
    </div>
    <div id="on-sale">
        <div class="row">
            <a href="#" class="on-sale-product">
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
                    <img src="images/product1.png" alt="Product Image">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 product-info">
                    <p>Apple Iphone 6 Plus</p>
                    <div class="rating">
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star negative"></i>
                    </div>
                    <p class="price">$300.0</p>
                </div>
            </a>
            <div class="product-actions">
                <a href="#">
                    <i class="glyphicon glyphicon-shopping-cart"></i>Agregar al carrito
                </a>
            </div>
            <hr>
            <a href="#" class="on-sale-product">
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
                    <img src="images/product1.png" alt="Product Image">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 product-info">
                    <p>Apple Iphone 6 Plus</p>
                    <div class="rating">
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star negative"></i>
                    </div>
                    <p class="price">$300.0</p>
                </div>
            </a>
            <div class="product-actions">
                <a href="#">
                    <i class="glyphicon glyphicon-shopping-cart"></i>Agregar al carrito
                </a>
            </div>
            <hr>
            <a href="#" class="on-sale-product">
                <div class="col-xs-4 col-sm-4 col-md-6 col-lg-6">
                    <img src="images/product1.png" alt="Product Image">
                </div>
                <div class="col-xs-8 col-sm-8 col-md-6 col-lg-6 product-info">
                    <p>Apple Iphone 6 Plus</p>
                    <div class="rating">
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star positive"></i>
                        <i class="glyphicon glyphicon-star negative"></i>
                    </div>
                    <p class="price">$300.0</p>
                </div>
            </a>
            <div class="product-actions">
                <a href="#">
                    <i class="glyphicon glyphicon-shopping-cart"></i>Agregar al carrito
                </a>
            </div>
        </div>
    </div>

    <!-- ADS -->
    <a href="#" class="ad-link">
        <img src="images/ad2.png" class="ad" alt="Important Ad">
    </a>

</div>